html,
html[data-theme="light"] {
  --link-color: $primary;
  --main-background-color: $light;
  --main-text-color: hsl(0, 0%, 20%);
  --opacity: 1;
}

html[data-theme="dark"] {
  --link-color: rgb(100, 210, 255);
  --main-background-color: hsl(0, 0%, 20%);
  --main-text-color: #6c757d;
  --opacity: 0.75;
}

@media (prefers-color-scheme: light) {
  html,
  html[data-theme="dark"] {
    --link-color: rgb(100, 210, 255);
    --main-background-color: hsl(0, 0%, 20%);
    --main-text-color: #6c757d;
  }

  html[data-theme="light"] {
    --link-color: $primary;
    --main-background-color: $light;
    --main-text-color: hsl(0, 0%, 20%);
  }
}

body {
  background-color: var(--main-background-color);
  color: var(--main-text-color);
  font-family: "Poppins", sans-serif;
}

#theme-toggle {
  color: var(--link-color);
  &:hover {
    color: var(--main-text-color);
  }
}
a {
  color: var(--link-color);
  &:hover {
    color: var(--link-color);
  }
}

.navbar-custom .navbar-brand,
.navbar-custom .navbar-text,
.navbar-custom .collapse.navbar-collapse .navbar-nav a {
  color: var(--main-text-color);
  &:hover {
    color: var(--main-text-color);
  }
}
