<!-- <!DOCTYPE html> -->
<!--
  https://github.com/YoussefRaafatNasry/portfolYOU
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="h-100">
  {% include head.html %}

  <body class="d-flex flex-column h-100">
    <main class="flex-shrink-0 container mt-5">
      {% include mode.html %} 
      {% include navbar.html %}

      {{ content }}
    </main>
    {% include scripts.html %}
    {% include footer.html %} 
  </body>
</html>
